@import '../../styles//colors.scss';

.inputWrapper {
  margin-top: 16px;
  display: flex;
  position: relative;
  align-items: center;

  input {
    flex-grow: 1;
  }

  .status {
    position: absolute;
    right: 8px;
    top: 24px;
    font-size: 16px;
    cursor: help;
  }
}
